body {
	font-family: Arial,Helvetica,sans-serif;
	font-weight: normal;
	padding: 0px;
	margin: 0px;
	background-color: rgb(238, 236, 235);
}

th {
	color: rgb(255, 255, 255);
	background-color: rgb(55, 58, 90);
}

a {
	color: rgb(0,0,120);
}

td, th {
	padding: 5px;
}

table {
	border-collapse:collapse;
}

hr {
	border: 0; 
	height: 0; 
	border-top: 1px solid rgba(0, 0, 0, 0.1); 
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.subth {
	background-color: rgb(201, 200, 199);
	font-style: italic;
	font-weight: bold;
}

.navheader {
	width: 100%;
	height: 60px;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 50;
	
	box-shadow: 0px 0px 12px -2px rgb(0, 0, 0);
	background-color: rgb(61, 58, 55);
}


.navheader table, .navheader td, .navheader th,
.navfooter table, .navfooter td, .navfooter th {
	padding: 3px;
	border: 0px;
}

.navheader > a > img {
	position: fixed;
	left: 18px;
	top: 8px;
}

.navheader > table {
	width: 960px;
	margin: 0px auto;
}

.navheader th {
	background-color: rgb(61, 58, 55);
}

.navheader a {
	color: rgb(255,255,255);
}

.section, .chapter, .book, .appendix {
	margin: 80px auto;
	width: 960px;
}

.navfooter {
	margin: 0px auto;
	width: 960px;
	clear: both;
}

.figure, .informalfigure {
    clear: both;
    float: right;
    padding: 10px;
}

.figure p.title {
    max-width: 8cm;
	font-size: 80%;
}

.guibutton {
    font-family: sans-serif;
    font-size: 90%;
    background: lightgrey;
    border-style: outset;
    border-width: 1px;
    padding-left: 2px;
    padding-right: 2px;
    white-space: nowrap;
}

.guimenu {
    font-family: monospace;
}

.guimenuitem {
    font-family: monospace;
}

.guilabel {
    font-style: italic;
}

.title {
	display: block;
	padding-top: 70px; 
	margin-top: -70px;
}

.legalnotice, .copyright {
	font-size: smaller;
}

.term {
  font-style: italic;
}

.footer_copyright {
	font-size: 60%;
	color: rgba(0,0,0,0.3);
	width: 960px;
	margin: 0px auto;
	text-align: right;
	padding-top: 5px;
}